*::selection {
  background: $pink;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.wrapper {
  max-width: 100%;
  &.fixed {
    height: 100vh;
    overflow: hidden;
  }
}
.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  @include respond-to('tablet') {
    max-width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $blue;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}


.btn {
  background: #F53838;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  &:hover {
    background: #CB2C2C;
  }
  &:focus {
    background: #CB2C2C;
    border: 2px solid #FA9C9C;
    box-sizing: border-box;
  }
}

.btn_black {
  background: 0;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  &:hover {
    background: #000000;
  }
  &:focus {
    background: #000000;
    border: 2px solid #808080;
  }
}



.form_wrapper {
  background: #FFFFFF;
  box-shadow: 12px 12px 34px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 8.8rem 3.2rem 3.2rem 3.2rem;
}
.form_container {
  display: flex;
  flex-direction: column;
}
.form_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
 }
.form_input {
  font-weight: 400;
  padding: 10px 12px;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 1.8rem;
  border: 1px solid #D8D8E3;
  box-sizing: border-box;
  border-radius: 6px;
}

.form_textarea {
  font-weight: 400;
  border: 1px solid $black;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-size: 1.8rem;
}
.form_btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  height: 46px;
}


.ymap-container [class*="ymaps-2-1"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}

.ymaps-layers-pane {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.responze {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}


.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  color: #D9D9D8;
}
.swiper-button-next, .swiper-button-prev {
  opacity: 1;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  color: $green;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  color: $green;
}
:root {
  --swiper-navigation-size: 30px;
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
.swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
  background: #F3F3F3;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.swiper-scrollbar-drag {
  background: linear-gradient(
                  0deg
          , #27CE03, #27CE03), linear-gradient(
                  0deg
          , #1F8709, #1F8709), linear-gradient(
                  267.89deg
          , #F4B601 0%, #F48501 100%), #C4C4C4;
  border-radius: 5px;
  position: relative;
  padding: 0;
  display: block;
}
.swiper-pagination {
  display: none;
}
.swiper-pagination-bullet-active {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    background: $green;
    border-radius: 50%;
  }
}

.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}

.show_mobile {
  display: none!important;
}

.mfp-bg {
  background: rgba(39, 56, 66, 0.85);
  opacity: 1;
}
.thanksbox-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  text-align: center;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
.modalny::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.modalny::-webkit-scrollbar-thumb {
  background: #FF0000;
}


.social {
  display: flex;
  align-items: center;
}
.social__item {
  margin-right: 12px;
  &:last-child {
    margin-right: 0;
  }
}
.social__link {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  .icon-soc_1 {
    color: #fff;
  }
  .icon-soc_2 {
    color: #fff;
  }
  .icon-soc_3 {
    color: #fff;
  }
  &.blue {
    background: #419FD9;
  }
  &.purple {
    background: #926BB9;
  }
  &.green {
    background: #58CC67;
  }
}

.bcrumb {
  background: #EDF5FA;
  padding: 10px 0;
}
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;

  li {
    margin-right: 18px;
    border-right: 1px solid #000000;
    padding-right: 18px;
    height: 16px;
    display: flex;
    align-items: center;
    &:last-child {
      margin-right: 0;
      border-right: 0;
      padding-right: 0;
    }
  }
  a {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #000000;
  }
  span {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #000000;
  }
}



@media only screen and (max-width: 1600px) {

}
@media only screen and (max-width: 998px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .form_title {
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
  .form_input {
    border: 1px solid $blue;
    border-radius: 3px;
    padding: 7px 15px;
    height: 36px;
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
  .form_textarea {
    border: 1px solid $blue;
    border-radius: 3px;
    padding: 7px 15px;
    height: 80px;
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
  .form_btn {
    height: 36px;
    padding: 0.7rem 2rem;
  }
  .title {
    font-size: 2.4rem;
  }
  .show_mobile {
    display: block;
  }

  .swiper-pagination {
    position: relative;
    display: block;
    margin: 0 auto 30px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background: transparent;
    opacity: 1;
    border: 1px solid #27CE03;
    box-sizing: border-box;
    margin: 0 8px 5px;
  }
}
