//? set your brand colors

$white: #fff;

$gray-soft: #F5F5F5;
$light-grey: #fafafa;
$gray: #C4C4C4;
$gray-border: #D9D9D8;

$black-soft: #444;
$black: #000000;

$blue: #273842;
$pink: #fff0f5;
$yellow: #fffacd;
$green: #27CE03;

//? override for project clarity

$color-primary: $blue;
$color-secondary: $pink;
$color-tertiary: $yellow;
